@font-face {
    font-family: Yozakura;
    src: url("../ressources/yozakura.otf");
}

* {box-sizing: border-box;}
html, body{
    height: 100%;
}
body {
    font-size: 12px;
    margin:0;
    padding-top: 1%;
    background:url("../ressources/cardzone_bg.png") repeat bottom center;
    background-size: auto;
    overflow:hidden;
}

#grid{
  color: aquamarine;
  text-align: center;
  align-content: center;
  vertical-align: middle;
  justify-content: center; /* alignement vertical */

}

#grid #formContainer{
  margin: 0 auto;
  width: 50%;
  height: 720px;
  background: url("../ressources/acceuil_bg.gif") no-repeat center;
  -moz-border-radius:px;
  -webkit-border-radius:px;
  border-radius:px;
  border: 10px outset #656565;
}

#grid form{
  margin: 0 auto;
  font-size: 48px;
  font-family: Yozakura;
  width: 50%;
  -webkit-border-radius: 0 25px;
  border-radius: 0 25px;
  background: -moz-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(40,29,29,1) 91%, rgba(17,11,11,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(40,29,29,1) 91%,rgba(17,11,11,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(40,29,29,1) 91%,rgba(17,11,11,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

#grid form button{
  background-color: cyan;
}

#stage{
     /* comportement visuel de cellule */
    vertical-align: middle;
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex; /* contexte sur le parent */
  flex-direction: column; /* direction d'affichage verticale */
  justify-content: center; /* alignement vertical */
}

#container{
    overflow:hidden;
    position: relative;
    margin: auto;
    width: 100%;
    height: 100%;
    max-width:1570px;
    max-height:1064px;
}



/* ---- HUD ------------------------------------------------------------------ */
/* ---- HUD TOP -------------------------------------------------------------- */
#hudTop {
    position: absolute;
    top:0;
    left :0;
    right :0;
    height: 100px;
    /*background-color: aqua;*/
    /* -- z-index gère la profondeur des éléments positionnés -- */
    /* -- comme gamePlane est positionné en relative et est déclaré plus bas dans la page html, il passe devant le HUD, donc z-inxex super élevé sur HUD pour contre-balancer*/
    z-index : 5000;

}
#hudPlayer1, #hudPlayer2{
    position: absolute;
    font-weight: bold;
    font-size: 3em;
    font-family: 'Gloria Hallelujah', cursive;
    color: aliceblue;
    width: 50%;
    height: 100%;
    left: 0;
}
#hudPlayer2{
    left: 50%;
    text-align: right;
}

#lifeBarPlayer1, #lifeBarPlayer2, .playerName {
    display: block;
    position: absolute;
    left: 20px;
    right : 20px;
}

.playerName {
    font-family: Yozakura;
    top : 10px;
}

#lifeBarPlayer1, #lifeBarPlayer2 {
    top : 50px;
    height : 50px;
}

.lifeBarMask {
    overflow: hidden;
    border: 1px solid black;
}

.lifeBar {
    width: 100%;
    height:50px;
    z-index: -1;
    background: -moz-linear-gradient(top, rgba(149,149,149,1) 0%, rgba(13,13,13,1) 46%, rgba(1,1,1,1) 50%, rgba(10,10,10,1) 53%, rgba(78,78,78,1) 76%, rgba(56,56,56,1) 87%, rgba(27,27,27,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(149,149,149,1) 0%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%); /* Chrome10-25,Safari5.1-6 */
    'background: linear-gradient(to bottom, rgba(149,149,149,1) 0%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

#title {
  background-color: #ffaa88;
}

#bra {
  position: relative;
  background:url("../ressources/bg.gif") no-repeat bottom center;
  background-size: cover;
  width: 100%;
  height: 75%;
  -moz-border-radius:px;
  -webkit-border-radius:px;
  border-radius:px;
  border: 10px outset #656565;

}

/* ---- HUD BOTTOM -------------------------------------------------------------- */
#hudBottom {
    position: absolute;
    bottom:0;
    left :0;
    right :0;
    /*height: 150px;
    background-color: blue;*/
}

#hand, #deck{
    position:absolute;
    left : 0;
    bottom: 0;
    width: 50%;
    padding: 5%;
    /*height: 150px;
    background-color: red;*/
}

#deck{
    left:50%;
    /*background-color:maroon;*/
}

#hand .handCard, #deck .card{
    position: absolute;
    bottom : 20%;
    left : 70%;
    z-index: 1;

}

#hand .handCard:nth-child(2){
    left : 90%;
}

#hand .handCard:nth-child(3){
    left : 110%;
}

#deck .card, .draggable {
    left : auto;
    right : 80%;
}




.drop_hover {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.8) inset;
}



/* ---- GAME SCREEN -------------------------------------------------------------- */
#gamePlane{

    /* au lieu de z-index: 5000 sur HUD, on peut mettre un z-index négatif sur gamePlane z-index:-1; */
}
#ground {
    position : absolute;
    left : 0;
    right : 0;
<<<<<<< HEAD
    bottom:150px;
=======
    bottom:325px;
>>>>>>> f9ff483c675e3b645771f8f97de1c43ec9952858
    /*height: 10px;
    background-color: aqua;*/
}
#groundLeft, #groundRight {
    position : absolute;
    left : 0;
    width : 50%;

   /* background-color: red;*/
}

#groundRight {
    left : 50%;


}

/* ---- PLAYER ---- */
#player1, #player2 {

    position: absolute;
    width : 432px;
    height: 342px;
}

#player1 {

    left:50%;


}

#player2 {
    right:50%;
    transform: scaleX(-1);
}

/* ---- PLAYER ANIMATION -------------------------------------------------------------- */
#player1.idle, #player2.idle{
  background: url('../ressources/animation/player1_idle.png') left center;
  animation: idle 0.5s steps(7) infinite; /* VOUS POUVEZ MODIFIER LA DUREE */
}

/*///////////////////////////Animation du player 1///////////////////////////////////////*/

.slash_high, .slash_middle, .slash_low{
	animation: slash_high 0.975s steps(16) infinite; /* VOUS POUVEZ MODIFIER LA DUREE */
}

#player1.slash_high{
	background: url('../ressources/animation/player1_slash_high.png') left center;
}
#player1.slash_middle{
	background: url('../ressources/animation/player1_slash_middle.png') left center;
}
#player1.slash_low{
	background: url('../ressources/animation/player1_slash_low.png') left center;
}

#player1.gard_hight{
	background: url('../ressources/animation/player1_Gard_Hight.png') left center;
}

#player1.gard_low{
	background: url('../ressources/animation/player1_Gard_Low.png') left center;
}

#player1.death_front{
	background: url('../ressources/animation/player1_Death_Front.png') left center;
}

#player1.death_back{
	background: url('../ressources/animation/player1_Death_Back.png') left center;
}

#player1.hit_high{
	background: url('../ressources/animation/player1_Hit_High_Low.png') left center;
}

#player1.hit_middle{
	background: url('../ressources/animation/player1_Hit_Middle.png') left center;
}


#player1.runCycle{
	background: url('../ressources/animation/player1_run_cycle.png') left center;
    animation: runCycle 0.5s steps(8) infinite; /* VOUS POUVEZ MODIFIER LA DUREE */
}


#player1.runEnd{
	background: url('../ressources/animation/player1_run_end.png') left center;
}



/*///////////////////////////Animation du player 2///////////////////////////////////////*/

#player2.idle{
  background: url('../ressources/animation/player2_idle.png') left center;
}

#player2.slash_high{
	background: url('../ressources/animation/player2_Slash_High.png') left center;
}
#player2.slash_middle{
	background: url('../ressources/animation/player2_Slash_Middle.png') left center;
}
#player2.slash_low{
	background: url('../ressources/animation/player2_Slash_Low.png') left center;
}


#player2.gard_hight{
	background: url('../ressources/animation/player2_Gard_High.png') left center;
}

#player2.gard_low{
	background: url('../ressources/animation/player2_Gard_Low.png') left center;
}

#player2.death_front{
	background: url('../ressources/animation/player2_Death_Front.png') left center;
}

#player2.death_back{
	background: url('../ressources/animation/player2_Death_Back.png') left center;
}

#player2.hit_high{
	background: url('../ressources/animation/player2_Hit_High_Low.png') left center;
}

#player2.hit_middle{
	background: url('../ressources/animation/player2_Hit_Middle.png') left center;
}


#player2.runCycle{
	background: url('../ressources/animation/player2_run_cycle.png') right center;
    animation: runCycle 0.5s steps(8) infinite; /* VOUS POUVEZ MODIFIER LA DUREE */
}

@keyframes idle {
    0% { background-position: 0; }
    100% { background-position: -3024px; }
}

@keyframes slash_high {
    0% { background-position: 0; }
    100% { background-position: -6912px; }
}

@keyframes slash_low {
    0% { background-position: 0; }
    100% { background-position: -6912px; }
}

@keyframes slash_middle {
    0% { background-position: 0; }
    100% { background-position: -6912px; }
}

@keyframes runCycle {
    0% { background-position: 0; }
    100% { background-position: -3456px; }
}
