/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:8bcfe558d0e0e3c0954aa73049d4edf8:304df43a36d72d80fb18e7b2e994d2c7:ca206cf03f00640afb4bb32e0228e30f$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(sripte sheet.png);}

.frappe_haut1 {width:83px; height:147px; background-position: -0px -0px}
.frappe_haut10 {width:87px; height:108px; background-position: -698px -0px}
.frappe_haut11 {width:88px; height:98px; background-position: -785px -0px}
.frappe_haut3 {width:82px; height:150px; background-position: -83px -0px}
.frappe_haut4 {width:89px; height:146px; background-position: -165px -0px}
.frappe_haut5 {width:82px; height:150px; background-position: -254px -0px}
.frappe_haut6 {width:95px; height:143px; background-position: -336px -0px}
.frappe_haut7 {width:88px; height:143px; background-position: -431px -0px}
.frappe_haut8 {width:90px; height:142px; background-position: -519px -0px}
.frappe_haut9 {width:89px; height:149px; background-position: -609px -0px}
